{
	"presets": [
		[ 
			"env",
			{
				"modules": false,
				"useBuiltIns": "usage"
			}
		],
		"react",
		"jest"
	],

	"env": {
		"development": {
      "presets": ["react"],
			"plugins": [
				"transform-es2015-modules-commonjs",
			]
		}
	}
}
