body {
	margin: 0;
	background-color: rgb(249, 251, 253);
	font-family: "Montserrat", sans-serif;
}

input {
	margin: 0;
	padding: .6rem .75rem;
	border: 1px solid rgb(193,204,211);
	border-radius: .3rem;
	font-size: 0.9rem;
	color: rgb(73,80,87);
	width: 90%;
	flex-grow: 100;
}

input:focus {
	outline: none;
	border: none;
	border-radius: .3rem;
	border: 1px solid rgb(84, 127, 255);
}

button {
	box-shadow: none;
	font-size: 1.6rem;
	background: none;
	border-radius: .3rem;
	border: none;
	outline: none;
	background-color: transparent;
	min-width: 2.5rem;
	color: white;
}

button:hover {
	box-shadow: none;
	border: none;
	outline: none;
	background-color: rgb(24, 79, 197);
}

button:active {
	background-color: rgb(0, 56, 169);
}

ul {
	margin: 0;
	margin-top: 1.4rem;
	padding: 0;
}

ul li {
	width: 100%;
	height: 40px;
	cursor: pointer;
	list-style-type: none;
	font-size: 0.9rem;
	border-radius: 0.3rem;
}

ul li:hover {
	background: rgb(241,241,241);
}

ul li.checked {
	text-decoration: line-through;
}

h4 {
	font-size: 1.5rem;
	margin: 0;
}

.todo-container {
	margin: auto;
	max-width: 768px;
	margin-top: 100px;
	background-color: rgb(255, 255, 255);
	border-radius: .35rem;
	box-shadow: 0 23px 20px -20px rgba(115,162,208,0.1), 0 0 15px rgba(115,162,208,0.06);
	padding: 20px;
}

.count-badge {
	border-radius: 10rem;
	background-color: rgb(58,191,148);
	float: right;
	font-size: 13px;
	line-height: 14px;
	padding: 5px 10px;
	color: white;
}

.tasks-completed {
	color: rgb(84, 127, 255);
	margin-top: 0.5rem;
	font-size: 0.85rem;
}

.form-container {
	display: flex;
}

.add-button {
	background-color: rgb(84, 127, 255);
}

.task-title {
	font-size: 0.9rem;
	margin: 0;
	margin: auto;
	line-height: 40px;
	margin-left: 0.5rem;
}

.close-button {
	display: inline-block;
	float: right;
	color: black;
	height: 100%;
	font-size: 1.3rem;
}

.close-button:hover {
	background-color: rgb(244, 67, 54);
	color: white;
}

.close-button:active {
	background-color: rgb(238, 28, 13);
	color: white;
}
